<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>feique1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63C3D8E01D47A6C400459436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63C3D8F41D47A6C400459436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63C3D8FF1D47A6C400459436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
